<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Add Job</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

    <h2>Add Job Application</h2>

    <form th:action="@{/save}" th:object="${jobApplication}" method="post">

        <label>Company Name</label>

        <input type="text" th:field="*{companyName}" required>

        <br><br>

        <label>Job Role</label>

        <input type="text" th:field="*{jobRole}" required>

        <br><br>

        <label>Location</label>

        <input type="text" th:field="*{location}" required>

        <br><br>

        <label>Application Date</label>

        <input type="date" th:field="*{applicationDate}" required>

        <br><br>

        <label>Status</label>

        <select th:field="*{status}">

            <option value="">Select Status</option>

            <option value="Applied">Applied</option>

            <option value="Interview Scheduled">Interview Scheduled</option>

            <option value="Interview Completed">Interview Completed</option>

            <option value="Offer Received">Offer Received</option>

            <option value="Rejected">Rejected</option>

        </select>

        <br><br>

        <label>Interview Date</label>

        <input type="date" th:field="*{interviewDate}">

        <br><br>

        <label>Notes</label>

        <textarea th:field="*{notes}" rows="4"></textarea>

        <br><br>

        <button class="btn" type="submit">
            Save Job
        </button>

        <a href="/" class="btn">Back</a>

    </form>

</div>

</body>

</html>